<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/signup" method="post">
  <input type="text" name="name" placeholder="Username" <%if @params[:name] %>value="<%=@params[:name]%>"<%end%>required>
  <input type="text" name="email" placeholder="Email" <%if @params[:email] %>value="<%=@params[:email]%>"<%end%>required>
  <input type="text" name="address" placeholder="Address" <%if @params[:address] %>value="<%=@params[:address]%>"<%end%>required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="submit">
</form>
