<form action="/signup" method="post">
  <input type="text" name="name" placeholder="Username" required>
  <input type="text" name="email" placeholder="Email" required>
  <input type="text" name="address" placeholder="Address" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="submit">
</form>