<h1>Edit <%=@product.name%></h1>

<form action="/admin/<%=@admin.id%>/products/<%=@product.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="price" placeholder="Price"><br><br>
  <textarea cols="50" rows="10" name="description" placeholder="Description"></textarea><br><br>
  <input type="submit">
</form>
