<h1>Edit <%=@product.name%></h1>

<form action="/admin/<%=@admin.id%>/products/<%=@product.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="name" placeholder="Name" required>
  <input type="text" name="price" placeholder="Price" required>
  <input type="textarea" col="10" row="10" name="description" placeholder="description" required>
  <input type="submit">
</form>
