<h1>Welcome <%=@admin.name%></h1>

<a href="/admin/<%=@admin.id%>/users">Users</a> |
<a href="/admin/<%=@admin.id%>/products/new">New Product</a> |
<a href="/admin/<%=@admin.id%>/products">All Products</a> | 
